body {
    box-sizing: border-box;
    background-color: #515151;
    padding: 15px;
}

.search-form>input {
    display: block;
    width: 400px;
    height: 50px;
    padding: 0 30px;

    font-family: 'Staatliches', cursive;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 7px;
    color: #ff652d;
    /* text-align: center; */

    border-radius: 50px;
    background: #515151;
    outline: none;
    transition: box-shadow 200ms,
        text-shadow 200ms;


}

.search-form>input::placeholder {
    color: #c5c5c5;
}

/* 
.search-form>input:focus {
    text-shadow: 2px 2px 4px #202020,
        -2px -2px 4px #828282;
} */



.search-form>input:focus {
    background: #515151;
    box-shadow: inset 5px 5px 10px #303030,
        inset -5px -5px 10px #727272;

    text-shadow: 2px 2px 4px #202020,
        -2px -2px 4px #828282;
}



.search-form>button {
    display: block;

    height: 50px;
    margin: 0 0 0 20px;
    padding: 0 30px;

    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: #303030;

    border: none;
    border-radius: 50px;
    border-radius: 50px;
    background: linear-gradient(145deg, #494949, #575757);
    box-shadow: 9px 9px 15px #303030,
        -9px -19px 15px #727272;
    cursor: pointer;
    transition: color 200ms linear, box-shadow 50ms linear, text-shadow 200ms linear;
}

.search-form>button:hover {
    color: #ff652d;
    text-shadow: 0 0 2px #ff652d;
}

.search-form>button:active {
    box-shadow: 5px 5px 10px #303030,
        -5px -5px 10px #727272;
}


.search-form {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 40px auto;
}

.gallery {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 40px;
    margin: 30px 0;
}

.gallery>a {
    display: block;
    flex-basis: calc((100% - 3 * 40px) / 4);

    text-decoration: none;
    color: inherit;
}





.photo-card {
    padding: 20px;
    border-radius: 20px;



    background: linear-gradient(145deg, #494949, #575757);
    box-shadow: 3px 3px 7px #272727,
        -3px -3px 7px #7b7b7b;
    transition: box-shadow 200ms;
}

.photo-card:hover {
    background: linear-gradient(145deg, #494949, #575757);
    box-shadow: 7px 7px 14px #272727,
        -7px -7px 14px #7b7b7b;
}

.photo-card:active {
    background: #515151;
    box-shadow: inset 5px 5px 10px #272727,
        inset -5px -5px 10px #7b7b7b;
}

.photo-card:hover span {
    color: #ff652d;
    text-shadow: 0 0 2px #ff652d;
}

.photo-img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

.info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.info-item>b {
    color: #ffffff;
}

.info-item>span {
    color: #ff652d;
    transition: color 200ms linear, text-shadow 200ms linear;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: monospace;
}



.load-more {
    display: block;
    margin: 0 auto;
    height: 50px;
    padding: 0 30px;

    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    color: #303030;

    border-radius: 15px;
    background-color: #ff652d;
    cursor: pointer;
    transition: box-shadow 250ms;
}

.load-more:hover {
    box-shadow: 10px 10px 30px #000000;

}

.is-hidden {
    display: none;
}